body {
    background-color: white;
    background-image: url('https://github.com/mike-moores/mike-moores.github.io/blob/main/images/background.png?raw=true');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Acme', sans-serif;
  }

  
  p {
    font-size: 25pt;
    font-style: normal;
    margin: 45px 120px 45px 120px
  
  }

  .title {
    font-size: 50pt;
    color: black;
    font-weight: 200;
    text-align: center;
    border-start-end-radius: 25pt;
    margin: 0px 0px 0px 0px
  
  }

  .header-text {
    font-size: 35pt;
    color: black;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    border-start-end-radius: 25pt;
    margin: 10px 0px 0px 0px
  }

  .sub-title {
    font-size: 25pt;
    font-style: normal;
    margin: 45px 120px 45px 120px   
  }
  
    .centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-radius: 50%;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .example-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 500px;
          }

  #link {
      font-size: 50pt;
      color: green;
  }

.topnav {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 95px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

#quote {
  font-family:'Courier New', Courier, monospace
  font-size: 25pt;
  color: black;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  border-start-end-radius: 25pt;
  }

.first-sub-title {
  font-size: 25pt;
  font-style: normal;
  margin: 150px 120px 45px 120px
}

.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: inline-flex;
}

.note {
  font-size: 25pt;
    font-style: normal;
    text-align: center;
    }